<?xml version="1.0" encoding="UTF-8"?>
<root>
	
	<testdata>
		<testdata_path>testdata</testdata_path>
	</testdata>
	
	<datafile>
		<datafile_name>qa.properties</datafile_name>
	</datafile>
	

	<!-- Config whether to screenshot and where to save picture -->
	<screenshot>
		<!-- toggle value is on/off, if value is 'off' then no screenshot -->
		<screenshot_toggle>on</screenshot_toggle>
		<screenshot_path>D:\WorkTools\Workspace\portal-autotest\screenshot\</screenshot_path>
		<screenshot_linkpath>D:\WorkTools\Workspace\portal-autotest\screenshot\</screenshot_linkpath>
	</screenshot>
	<testlink>
		<!-- Toggle value should be 'on' or 'off'. If toggle is off, will not report to test link -->
		<testlink_toggle>off</testlink_toggle>
		<testlink_apiurl>http://127.0.0.1/testlink/lib/api/xmlrpc.php</testlink_apiurl>
		<testlink_threads>3</testlink_threads>
	</testlink>
</root>